.card {
    background: var(--green);
    gap: 2em;
    padding: 1em;
    border-radius: 8px;;
    height: 90%;
    width: 85%;
    max-width: 650px;
    box-shadow: 0px 0px 16px var(--cinza-light);
}

.card p { color: var(--black); }