.config-Task {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    z-index: 1;
    /*cobrir toda a página*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.config-Task h2 { font-size: 3em; margin: .3em; text-align: center;}

.baixobaixo { max-height: 550px; }

.config-Task .optionsToTasks { 
    display: flex; 
    gap: 4em;
    overflow-y: auto;
}

label[for="description"] textarea { width: 100%; height: 100px; }

label[for="description"],
label[for="deadline"],
.addTags,
.repetetiveTask {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Buttons */
.buttonsTask button { 
    padding: 1.5em; 
    border: 2px solid var(--white); 
    font-weight: bold; 
    transition: 0.3s ease; 
}

.buttonsTask button:hover {
    cursor: pointer;
    color: var(--white);
    transform: scale(1.05);
    border: 2px solid var(--white);
}

.buttonsTask .taskComplete:hover { background: var(--green); }
.buttonsTask .deleteTask:hover { background: var(--red); }
.buttonsTask .alterateTask:hover,
.buttonsTask .add:hover { background: var(--black); }

.buttonsTask button:active { transform: scale(1); }

.wanna button:first-of-type,
.wanna button:last-of-type 
{ transition: 0.3s ease; }

.wanna button:first-of-type:active,
.wanna button:last-of-type:active
{ transform: scale(0.95); }

/* No's buttons */
.wanna button:last-of-type:hover
{ cursor: pointer; background: var(--red); color: var(--white);}

/* Yes's buttons */
.wanna button:first-of-type:hover 
{ cursor: pointer; background: var(--green); color: var(--white);}

@media only screen and (max-width: 490px) {
    .config-Task h2 { font-size: 2em; }

    .optionsToTasks { flex-direction: column;  gap: 0;}

    .ladolado { gap: 1em; }
}