* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black:#313132;
    --black-texts:#1a1a1a;
    --white: #FFFFFC;
    --purple: #AA46FF;
    --red: #F87C8F;
    --red-hover: #dd6e7e;
    --blue: #639CF0;
    --cinza: #6e6e6e;
    --green: rgb(130, 243, 130);
}

::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-thumb { background: #dad7d7; }

body, button, input, select, textarea {
    font-family: 'Rubik', sans-serif;
    border: none;
}

body {
    background: var(--purple);
    color: var(--white);
    height: 100vh;
}

header { background: var(--black); width: 100%; }

header h1 {
    padding: 12px 0;
    font-size: 2.5em;
    text-align: center;
}

main { height: 80vh; justify-content: center; }

footer span {
    text-align: center;
    display: block;
    padding: 12px 0;
    opacity: .6;
}

select { padding: 8px 4px; border-radius: 4px;}
button { 
    padding: 4px 12px; 
    background: var(--white);
    border-radius: 6px;
    margin: 5px;
}

button:hover { cursor: pointer; }

input { padding: 1em; }

input { border-radius: 3px; }
input[type="checkbox"] { width: 18px; height: 18px;}
input[type="checkbox"]:hover { cursor: pointer; }
input[type="checkbox"]:active { transform: scale(1.1); }

main,
.card,
.inicio,
.box-task,
.task {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background: var(--black);
    gap: 2em;
    padding: 1em;
    border-radius: 8px;;
    height: 90%;
    width: 85%;
    max-width: 650px;
    box-shadow: 0 4px 8px 0 #00081cb5;
}

.ladolado { display: flex; flex-direction: column; gap: 3em; }

.baixobaixo {
    background: var(--blue);
    border-radius: .6em;
    margin: 0 auto;
    width: 85%;
    max-width: 800px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/* .box-task .task, 
.description-boxTask {
    background: var(--cinza)
} */