.risk { 
    text-decoration: line-through; 
}

.disappear {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.yesActive { background: var(--green); transform: scale(0.95);}

.noActive { background: var(--red); transform: scale(0.95);}