.risk { 
    text-decoration: line-through; 
}

.disappear {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.yesActive { background: var(--green); transform: scale(0.95);}

.noActive { background: var(--red); transform: scale(0.95);}

/* For complete tasks */
.box-task .completeTask { 
    border-color: var(--cinza);
    background: var(--green-light);
    color: var(--black);
}

.box-task .completeTask p { color: var(--black); }

.completeTags span { background: var(--white); }

.box-task .task > .completeBtnEdit { background: var(--white); }